/* Custom stylesheet */
body {
    color: #fff3e6;
    background-color: #2e6da4;
    background-image: url(img/antelope-canyon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.container-fluid  {
    background-color: #2aabd2;
}

div.container {

}